//--------------------------- Tiki CSS variables

// Used for L&F nav color choice and color mode override
@mixin top-nav-dark {
    --tiki-top-bg: rgba(52, 89, 230, 1.0);
    --tiki-top-color: #fff;
    --tiki-top-hover-color: #fff;
    --tiki-top-hover-bg: rgba(255, 255, 255, 0.1);
    --tiki-top-text-color: #fff;
    --bs-navbar-brand-color: #{$navbar-dark-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-dark-brand-hover-color};
}

@mixin topbar-nav-dark {
    --tiki-topbar-bg: rgb(35, 60, 154);
    --tiki-topbar-color: #fff;
    --tiki-topbar-hover-color: #fff;
    --tiki-topbar-hover-bg: rgba(255, 255, 255, 0.1);
    --tiki-topbar-text-color: #fff;
}

.tiki-top-nav-light {
    --tiki-top-bg: rgb(248, 249, 250);
    --tiki-top-color: #000;
    --tiki-top-hover-color: rgba(0, 0, 0, 0.05);
    --tiki-top-hover-bg: rgba(0, 0, 0, 0.03);
    --tiki-top-text-color: rgba(0, 0, 0, 0.05);
    --bs-navbar-brand-color: #{$navbar-light-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-light-brand-hover-color};
}

.tiki-topbar-nav-light {
    --tiki-topbar-bg: rgb(248, 249, 250);
    --tiki-topbar-color: rgba(0, 0, 0, 0.55);
    --tiki-topbar-hover-color: rgba(0, 0, 0, 0.05);
    --tiki-topbar-hover-bg: rgba(0, 0, 0, 0.03);
    --tiki-topbar-text-color: rgba(0, 0, 0, 0.05);
}

.tiki-top-nav-dark {
    @include top-nav-dark;
}

.tiki-topbar-nav-dark {
    @include topbar-nav-dark;
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // color mode
    .tiki-top-nav-light {                           // light top selector
        @include top-nav-dark;                      // dark values
    }
    .tiki-topbar-nav-light {
        @include topbar-nav-dark;
    }
}

    //    --tiki-top-light-border: 1px solid rgba(0, 0, 0, 0.1);
    //    --tiki-topbar-light-border: 1px solid rgba(0, 0, 0, 0.1);

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
.tiki .tiki-admin-top-nav-light,
.tiki .tiki-admin-aside-nav-light {
    --tiki-admin-top-nav-color: #000;
    --tiki-admin-top-nav-hover-color: rgba(0, 0, 0, 0.05);
    --tiki-admin-top-nav-hover-bg: rgba(0, 0, 0, 0.03);
    --tiki-admin-aside-nav-bg: rgb(248, 249, 250);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: #{$navbar-light-color};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
}
// Light top nav
.tiki.tiki-admin .top_modules.navbar-light-parent {
    --tiki-admin-top-nav-bg: rgb(248, 249, 250);
}

// Dark navbar minus top nav
.tiki .tiki-admin-top-nav-dark,
.tiki .tiki-admin-aside-nav-dark {
    --tiki-admin-top-nav-color: #fff;
    --tiki-admin-top-nav-hover-color: #fff;
    --tiki-admin-top-nav-hover-bg: rgba(52, 89, 230, 0.9);
    --tiki-admin-aside-nav-bg: rgba(52, 89, 230, 1.0);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #fff;
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
}
// Dark top nav
.tiki.tiki-admin .top_modules.navbar-dark-parent {
    --tiki-admin-top-nav-bg: rgba(52, 89, 230, 1.0);
}
// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //

//.tiki-admin {
//    --tiki-admin-navbar-dark-bg: rgba(52, 89, 230, 1.0);
//    --tiki-admin-dropdown-dark-color: #{$navbar-dark-color};
//    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
//    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
//    --tiki-admin-navbar-light-bg: rgb(248, 249, 250);
//    --tiki-admin-dropdown-light-color: #{$navbar-light-color};
//    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
//    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
//    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
//    --tiki-admin-navbar-dark-highlight-bg: #{$dropdown-link-hover-bg};
//    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
//    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
//    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
//}
