//--------------------------- Tiki CSS variables
.navbar-nav {
    --bs-navbar-color: #32fbe2;
    --bs-navbar-hover-color: #2aad9d;
    --bs-navbar-active-color: #2aad9d;
}
// These two miins, for a light blue background, aren't used anywhere, just preserved here.
@mixin top-nav-light {
    --tiki-top-bg: rgb(68, 217, 232);
    --tiki-top-color: rgba(0, 0, 0, 0.55);
    --tiki-top-hover-color: rgba(0, 0, 0, 0.9);
    --tiki-top-text-color: rgba(0, 0, 0, 0.9);
    --tiki-top-box-shadow: 0 0 2px rgba(68, 217, 232, 0.9), 0 0 4px rgba(68, 217, 232, 0.4), 0 0 1rem rgba(68, 217, 232, 0.3), 0 0 4rem rgba(68, 217, 232, 0.1);
    --bs-navbar-brand-color: #{$navbar-light-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-light-brand-hover-color};
}
@mixin topbar-nav-light {
    --tiki-topbar-bg: rgb(68, 217, 232);
    --tiki-topbar-color: rgba(0, 0, 0, 0.55);
    --tiki-topbar-hover-color: rgba(0, 0, 0, 0.9);
    --tiki-topbar-text-color: rgba(0, 0, 0, 0.9);
    --tiki-topbar-box-shadow: 0 0 2px rgba(68, 217, 232, 0.9), 0 0 4px rgba(68, 217, 232, 0.4), 0 0 1rem rgba(68, 217, 232, 0.3), 0 0 4rem rgba(68, 217, 232, 0.1);
}

// The light and dark styles below are the same (purple background.
.tiki-top-nav-light {
    --tiki-top-bg: rgb(111, 66, 193);
    --tiki-top-color: rgba(255, 255, 255, 0.55);
    --tiki-top-hover-color: rgba(255, 255, 255, 0.75);
    --tiki-top-text-color: rgba(255, 255, 255, 0.75);
    --tiki-top-box-shadow: 0 0 2px rgba(111, 66, 193, 0.9), 0 0 4px rgba(111, 66, 193, 0.4), 0 0 1rem rgba(111, 66, 193, 0.3), 0 0 4rem rgba(111, 66, 193, 0.1);
}

.tiki-topbar-nav-light {
    --tiki-topbar-bg: rgb(111, 66, 193);
    --tiki-topbar-color: rgba(255, 255, 255, 0.55);
    --tiki-topbar-hover-color: rgba(255, 255, 255, 0.75);
    --tiki-topbar-text-color: rgba(255, 255, 255, 0.75);
    --tiki-topbar-box-shadow: 0 0 2px rgba(111, 66, 193, 0.9), 0 0 4px rgba(111, 66, 193, 0.4), 0 0 1rem rgba(111, 66, 193, 0.3), 0 0 4rem rgba(111, 66, 193, 0.1);
}

.tiki-top-nav-dark {
    --tiki-top-bg: rgb(111, 66, 193);
    --tiki-top-color: rgba(255, 255, 255, 0.55);
    --tiki-top-hover-color: rgba(255, 255, 255, 0.75);
    --tiki-top-text-color: rgba(255, 255, 255, 0.75);
    --tiki-top-box-shadow: 0 0 2px rgba(111, 66, 193, 0.9), 0 0 4px rgba(111, 66, 193, 0.4), 0 0 1rem rgba(111, 66, 193, 0.3), 0 0 4rem rgba(111, 66, 193, 0.1);
    --bs-navbar-brand-color: #{$navbar-dark-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-dark-brand-hover-color};
}

.tiki-topbar-nav-dark {
    --tiki-topbar-bg: rgb(111, 66, 193);
    --tiki-topbar-color: rgba(255, 255, 255, 0.55);
    --tiki-topbar-hover-color: rgba(255, 255, 255, 0.75);
    --tiki-topbar-text-color: rgba(255, 255, 255, 0.75);
    --tiki-topbar-box-shadow: 0 0 2px rgba(111, 66, 193, 0.9), 0 0 4px rgba(111, 66, 193, 0.4), 0 0 1rem rgba(111, 66, 193, 0.3), 0 0 4rem rgba(111, 66, 193, 0.1);
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
.tiki .tiki-admin-top-nav-light,
.tiki .tiki-admin-aside-nav-light {
    --tiki-admin-top-nav-color: rgba(0, 0, 0, 0.9); // rgba(0, 0, 0, 0.55);
    --tiki-admin-top-nav-hover-color: ; // --tiki-topbar-hover-color
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-aside-nav-bg: rgb(68, 217, 232);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: #{$navbar-light-color};
    --tiki-admin-dropdown-link-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
}
// Light top nav
.tiki.tiki-admin .top_modules.navbar-light-parent {
    --tiki-admin-top-nav-bg: rgb(68, 217, 232);
}

// Dark navbar minus top nav
.tiki .tiki-admin-top-nav-dark,
.tiki .tiki-admin-aside-nav-dark {
    --tiki-admin-top-nav-color: #fff;
    --tiki-admin-top-nav-hover-color: rgba(255, 255, 255, 0.75);
    --tiki-admin-top-nav-hover-bg: #{$navbar-dark-hover-color};
    --tiki-admin-aside-nav-bg: rgb(111, 66, 193);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #{$dropdown-dark-link-color};
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-dark-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
}
// Dark top nav
.tiki.tiki-admin .top_modules.navbar-dark-parent {
    --tiki-admin-top-nav-bg: rgb(111, 66, 193);
}
// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //

.accordion {
     --bs-accordion-active-bg: #7645C0;
     --bs-accordion-active-color: #fff;
     --bs-accordion-btn-bg: #311d4f;
     --bs-accordion-btn-color: #fff;
 }
