// Tiki CSS variables

// Used for L&F nav color choice and color mode override
@mixin top-nav-dark {
    --tiki-top-bg: rgba(42, 62, 80, 1);
    --tiki-top-color: #{rgba($white, .6)};
    --tiki-top-hover-color: #18bc9c;
    --tiki-top-text-color: #18bc9c;
    --bs-navbar-brand-color: #{$navbar-dark-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-dark-brand-hover-color};
}

@mixin topbar-nav-dark {
    --tiki-topbar-bg: #20445C; //rgba(42,62,80, 1);
    --tiki-topbar-color: #{rgba($white, .6)};
    --tiki-topbar-hover-color: #18bc9c;
    --tiki-topbar-text-color: #18bc9c;
}

@mixin top-nav-light {
    --tiki-top-bg: #{$light};
    --tiki-top-color: rgba(0, 0, 0, 0.55);
    --tiki-top-hover-color: rgba(0, 0, 0, 0.7);
    --tiki-top-text-color: rgba(0, 0, 0, 0.7);
    --tiki-top-border: 1px solid #eee;
    --bs-navbar-brand-color: #{$navbar-light-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-light-brand-hover-color};
}

@mixin topbar-nav-light {
    --tiki-top-bg: #{$light};
    --tiki-top-color: rgba(0, 0, 0, 0.55);
    --tiki-top-hover-color: rgba(0, 0, 0, 0.7);
    --tiki-top-text-color: rgba(0, 0, 0, 0.7);
    --tiki-top-border: 1px solid #eee;
}

.tiki-top-nav-light {
    @include top-nav-dark; // Top and topbar are always dark
}
.tiki-topbar-nav-light {
    @include topbar-nav-dark; // "
}
.tiki-top-nav-dark {
    @include top-nav-dark;
}
.tiki-topbar-nav-dark {
    @include topbar-nav-dark;
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // color mode
    .tiki-top-nav-light {                           // light top selector
        @include top-nav-dark;                      // dark values
    }
    .tiki-topbar-nav-light {
        @include topbar-nav-dark;
    }
}
// Color mode preference trumps L&F admin dark navbar option
[data-bs-theme=light] {                              // color mode
    .tiki-top-nav-dark {                           // dark top selector
        @include top-nav-dark;                      // light values
    }
    .tiki-topbar-nav-dark {
        @include topbar-nav-dark;
    }
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
.tiki .tiki-admin-top-nav-light,
.tiki .tiki-admin-aside-nav-light {
    --tiki-admin-top-nav-color: rgba(0, 0, 0, 0.55);
    --tiki-admin-top-nav-hover-color: rgba(0, 0, 0, 0.7);
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-aside-nav-bg: #{$light};
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #fff;
    --tiki-admin-dropdown-link-color: #{$navbar-light-color};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
}
// Light top nav
.tiki.tiki-admin .top_modules.navbar-light-parent {
    --tiki-admin-top-nav-bg: #{$light};
}

// Dark navbar minus top nav
.tiki .tiki-admin-top-nav-dark,
.tiki .tiki-admin-aside-nav-dark {
    --tiki-admin-top-nav-color: #{rgba($white, .6)};
    --tiki-admin-top-nav-hover-color: #18bc9c;
    --tiki-admin-aside-nav-bg: rgba(42, 62, 80, 1);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #{$navbar-dark-color};
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-hover-color: #{$white};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
}
// Dark top nav
.tiki.tiki-admin .top_modules.navbar-dark-parent {
    --tiki-admin-top-nav-bg: rgba(42, 62, 80, 1);
}
// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //

.accordion {
    --bs-accordion-active-bg: #FBE1E0;
    --bs-accordion-active-color: #8d3e3c;
    --bs-accordion-btn-bg: #FDF0F0;
    --bs-accordion-btn-color: #D45E5A;
}